@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
  transition: 0.2s ease-in-out all !important;
}

.animate:hover {
  transition: 0.2s ease-in-out all !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  transition: 0.2s ease-in-out all !important;
}

.avatarSize {
  width: 3vw !important;
  height: 3vw !important;
}
