@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
  transition: 0.2s ease-in-out all !important;
}

.animate:hover {
  transition: 0.2s ease-in-out all !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  transition: 0.2s ease-in-out all !important;
}

.avatarSize {
  width: 3vw !important;
  height: 3vw !important;
}

@media (max-width: 640px) {
  .avatarSize {
    width: 8vw !important;
    height: 8vw !important;
  }

  .spinningWheel {
    width: 6vw !important;
    height: 6vw !important;
  }
}
